.home {
	min-height: 100vh;
  margin-top: -40px;
}
.home-hero-image {
	background-image: url('../images/nyc-skyline-3.jpg');
	background-size: cover;
	height:70vh;
	width:100vw;
	min-width: 1400px;
	display: table;
}
.home-hero-text {
  font-size:36pt;
  color: white;
  text-align: center;
  height: 20%;
}
.home-hero-text>span {
  vertical-align: bottom;
}
.neighborhood-vertical-align {
	display: table-cell;
	vertical-align: middle;
}
.input-container {
  position: relative;
}
.homepage-neighborhood-search {
	position: absolute;
	display: flex;
	overflow: hidden;

  height: 50px;
	top: 0px;
  right: 20px;

	padding: 17px 17px;

	color: #FFFFFF;
	background: #416dea;
	border: 0 none;

	font-size: 13px;
	font-weight: 500;
	line-height: 1.3;

	justify-content: center;
	align-items: center;
	flex: 0 0 160px;

	box-shadow: 2px 5px 10px #e4e4e4;
}
.neighborhood-search-link {
  text-decoration: none;
  fill: #FFFFFF;
}
.neighborhood-autosuggest {
	width: 50%;
	margin: auto;
}
.home-middle-content {
  overflow: hidden;
  width: 100%;
  background-color: lightgrey;
}
.home-content {
  overflow: hidden;
  padding: 40px 0;
  height: 400px;
  width: 75%;
  margin: 0 auto;
}
.home-section-title {
  font-size: 36pt;
}
.home-broker-join-list {
  font-size: 18pt;
}
.home-broker-join-list-element {
  padding-bottom: 20px;
}
.home-broker-join-icon-left {
  float: right;
}
.home-broker-join-icon-left {
  float: left;
}
.home-broker-join-icon-svg {
  height: 400px;
  width: 400px;
}
.home-broker-join-button {
  padding: 17px 17px;
  color:#416dea;
  border: 2px solid #416dea;
  background: white;

  font-size: 13px;
  font-weight: 500;

  justify-content: center;
  align-items: center;
  flex: 0 0 160px;

  box-shadow: 2px 5px 10px #e4e4e4;
}
.home-broker-join-button:hover {
  color:#FFFFFF;
  border: 2px solid #416dea;
  background-color: #416dea;
}
.home-broker-join-button-router {
  text-decoration: none;
  fill: #FFFFFF;
}
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 90%;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
